.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 50px;
}


.logo {
    color: white;
    font-size: 30px;
    font-family: Georgia, serif;
}


.right {
    display: flex;
    align-items: center;
    gap: 30px;
}


.nav {
    display: flex;
    gap: 25px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.btn-login {
    color: black;
    padding: 8px 18px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    background: var(--grediente-rosa, linear-gradient(90deg, #EE62A9 20.19%, #FFC700 100%));
}

.seccion-titular {
    position: relative;
    height: 320px;
    background-image: url("../images/Imagen\ Fondo\ Titulo.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.contenido {
    position: relative;
    color: white;
    max-width: 900px;
    padding: 20px;
}


.titulo {
    font-family: Georgia, serif;
    font-size: 48px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}


.descripcion {
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.95;
}

.enlace {
    color: #EE62A9;
}

.titular {
    color: #FFF;
    font-family: Piazzolla;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 40px;
}

.imagen-info {
    border-radius: 20px;
    border: 1px solid #20042C;
}



.seccion-cocteles {
    padding: 50px 10%;
}

.seccion-cocteles-info {
    color: #FFF;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
}

.seccion-cocteles-info:nth-child(odd) {
    flex-direction: row-reverse;
}

.info-coctel {
    width: 50%;
}

.nombre-coctel {
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.descripcion-coctel {
    font-size: 1.25rem;
    line-height: 1.6;
    color: #ffffff;
}




.coctel-ideal {


    color: #fff;
}


.coctel-ideal .contenido {
    max-width: 900px;

    margin: 0 auto;
    text-align: center;
}


.preguntas {
    font-family: Piazzolla;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
}


.botones-preguntas {
    display: flex;
    justify-content: center;

    gap: 20px;

    flex-wrap: wrap;

}

.boton {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    border: 1px solid #EE62A9;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    transition: transform 0.2s, background-color 0.2s;
}


.boton:hover {
    background-color: rgba(238, 98, 169, 0.2);
    transform: translateY(-3px);
}


.boton img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    display: block;
}


.boton span {
    display: block;
    font-size: 1rem;
}

.boton-morado {
    border-radius: 25px;
    background: linear-gradient(90deg, #3A205C 25.96%, #9909FF 100%);
    color: #fff;
    text-align: center;
    padding: 12px 50px;
    border: none;
    cursor: pointer;
}

.contenedor-boton-enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}





.coctel-fondo {
    position: relative;
    background-image: url("../images/imagenes-carta/Blood\ and\ Sand\ 2.png");
    background-size: cover;
    background-position: center;
    padding: 80px 10%;
    height: 1190px;
}


.contenido-coctel {
    color: #FFF;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 60px;

}

.info-izquierda {
    position: absolute;
    top: 4rem;
    left: 4rem;
    width: 380px;
}

.info-derecha {
    position: absolute;
    top: 4rem;
    right: -4rem;
    width: 380px;
}



.nombre-coctel {
    font-size: 4rem;
    margin-bottom: 10px;
    font-weight: 700;
    color: #FFF;
    margin-left: 4rem;
}

.subtitulo {
    margin-left: 4rem;
    margin-bottom: 30px;
    opacity: 0.9;
    font-size: 2rem;
    color: #FFF;
}

.info-izquierda ul {
    list-style: disc;
    padding-left: 20px;
}

.info-derecha h4 {
    margin: 20px 0;
}

.info-derecha label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-extra {
    margin: 15px 0;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background: #6a2ca0;
    color: #fff;
    cursor: pointer;
}

.boton-QR {
    padding: 12px 24px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(90deg, #EE62A9 20%, #FFC700 100%);
    color: #000;
    font-weight: bold;
    cursor: pointer;
}


.nota {
    color: #FFF;
    font-size: 0.9rem;
    opacity: 0.85;
}

.accion-qr {
    position: absolute;
    bottom: 10rem;
    left: 13rem;

    display: flex;
    align-items: center;
    gap: 15px;

    z-index: 10;
}





.footer {
    color: #fff;
    padding: 60px 10% 40px;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    margin-bottom: 60px;
    margin-left: 10%;
}

.footer-col h4 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col a {
    color: #fff;
    text-decoration: none;
    opacity: 0.9;
}

.footer-col a:hover {
    opacity: 1;
}

.footer-bottom {
    text-align: center;
}

.footer-logo {
    font-family: "valleny";
    font-size: 3rem;
    margin-bottom: 10px;
}

.footer-bottom p {
    font-size: 0.9rem;
    opacity: 0.8;
}

.resaltado {
    color: #EE62A9;
}

.footer-contacto .contact-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.footer-icon {
    width: 20px;
    margin-right: 15px;
}

.contact-text {
    display: flex;
    flex-direction: column;

}

.resaltado {
    margin-top: -30px;
}
