
/* HEADER GLOBAL */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 50px;
}

.logo {
    color: white;
    font-size: 30px;
    font-family: Georgia, serif;
}


.right {
    display: flex;
    align-items: center;
    gap: 30px;
}


.nav {
    display: flex;
    gap: 25px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.btn-login {
    color: black;
    padding: 8px 18px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    background: var(--grediente-rosa, linear-gradient(90deg, #EE62A9 20.19%, #FFC700 100%));
}


/* FOOTER GLOBAL*/

.footer {
    color: #fff;
    padding: 60px 10% 40px;
    border-top: 1px solid #fff;
    
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    margin-bottom: 60px;
    margin-left: 10%;
    
}

.footer-col h4 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col a {
    color: #fff;
    text-decoration: none;
    opacity: 0.9;
}

.footer-col a:hover {
    opacity: 1;
}

.footer-bottom {
    text-align: center;
}

.footer-logo {
    font-family: "valleny";
    font-size: 3rem;
    margin-bottom: 10px;
}

.footer-bottom p {
    font-size: 0.9rem;
    opacity: 0.8;
}

.resaltado {
    color: #EE62A9;
}

.footer-contacto .contact-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.footer-icon {
    width: 20px;
    margin-right: 15px;
}

.contact-text {
    display: flex;
    flex-direction: column;

}

.resaltado {
    margin-top: -30px;
}

