/* HEADER GLOBAL */

.site-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px
}

.logo {
    font-family: "valleny";
    font-size: 48px;
    color: #fff;
    text-decoration: none
}

.logo a {
    color: white;
    text-decoration: none;
}
.main-nav ul {
    display: flex;
    gap: 28px;
    list-style: none;
    margin: 0;
    padding: 0
}

.main-nav a {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 6px;
    font-size: 18px
}

.main-nav a.active {
    color: #ee62a9;
}

.btn-login {
    padding: 10px 22px;
    border-radius: 25px;
    background: linear-gradient(90deg, #ee62a9 20%, #ffc700);
    color: #000;
    text-decoration: none;
    font-weight: 600
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* FOOTER GLOBAL*/

.footer {
    color: #fff;
    padding: 60px 40px 40px;
    max-width: 1200px;
    margin: 0 auto;
    border-top: 1px solid #fff;
    width: 100%;
    box-sizing: border-box;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    margin-bottom: 60px;
    margin-left: 0;

}

.footer-col h4 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col a {
    color: #fff;
    text-decoration: none;
    opacity: 0.9;
}

.footer-col a:hover {
    opacity: 1;
}

.footer-bottom {
    text-align: center;
}

.footer-logo {
    font-family: "valleny";
    font-size: 3rem;
    margin-bottom: 10px;
}

.footer-bottom p {
    font-size: 0.9rem;
    opacity: 0.8;
}

.resaltado {
    color: #EE62A9;
}

.footer-contacto .contact-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.footer-icon {
    width: 20px;
    margin-right: 15px;
}

.contact-text {
    display: flex;
    flex-direction: column;

}

.resaltado {
    margin-top: -30px;
}
.footer-titular{
    font-size: 24px;
}