@font-face {
  font-family: "valleny";
  src: url("../fonts/Valleny.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "droidsans";
  src: url("../fonts/droid-sans/DroidSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "piazzola";
  src: url("../fonts/Piazzolla/static/Piazzolla_24pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "valleny";
  src: url("../fonts/Valleny.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #20042C;
  color: #fffffff2;
  font-family: "droidsans";
  animation: fadeIn 1s ease-out;
}

.skipcontenido {
  padding-left: 20px;
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;
}

/*Slides de paginas suave*/
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}